sub-headline@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic);


h1, h2, h3, h4, h5, h6, p {
	font-family: 'Helvetica Neue','Helvetica','Open-Sans', 'sans-serif';
	font-weight: 300 !important;
	
}

#title {
	color: white;
	text-align: center;
    text-shadow: 1px 1px 5px grey;
	font-size: 7rem !important;
	height: 1.125rem;
    font-weight: 300;
    margin-top: 30px;
	}

#aboutBackground {
    background-image: url("../pics/background.jpg");
    background-repeat: no-repeat;
    background-position: -1900px -1100px;
    margin-top: -53px;
    height: 1080px;
}

#body {
	background: rgb(245,245,245);
}

#explanation {
	font-size: 1.8rem;
	color: white;
	text-align: center;
    font-weight: 300;
    text-shadow: 1px 1px 5px grey;
	margin-left: 22%;
	margin-right: 22%;
	margin-top: 150px;
	}

.top-bar-wrapper {
	background-color: green;
}

#projectTitle {
	font-size: 1.8rem;
	color: black;
	text-align: center;
    font-weight: 300;
	margin-left: 22%;
	margin-right: 22%;
}

#mission {
	font-size: 1.3rem;
	color: black;
	text-align: center;
    font-weight: 200;
	margin-left: 22%;
	margin-right: 22%;
}
