@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic);

h4 {
	text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Helvetica Neue','Helvetica','Open-Sans', 'sans-serif';
	font-weight: 300 !important;
	
}
nav,
nav>ul,
nav ul section ul li a,
.top-bar{
	background-color: rgba(0,0,0,0);
}

#results_body nav,
#results_body nav>ul,
#results_body nav ul section ul li a,
#results_body .top-bar {
	background-color: black;
}

body {
	background-color: rgb(245,245,245);
}
.panel {
	border: none !important;
}

.callout-headline {
    margin-top: 1.25rem;
    font-weight: 300;
}

.callout-unit {
    font-size: 1.3rem;
    font-weight: 300;
    
}

.sub-headline,.no_insurance {
    font-weight: 300;
    clear:both;
    color: rgb(76,80,82) !important;
    padding-bottom: 0;
    margin-bottom: 0;
}

.no_data, 
.no_data:hover, 
.no-data:visited {
	background-color: #999;
}

.warning {
	background-color: #f08a24 !important;
}

.blue_button {
	margin-top: 100px;
	font-family: 'Helvetica Neue','Helvetica','Open-Sans', 'sans-serif' !important;
	color: white;
    text-shadow: 1px 1px 5px grey;
	font-size: 1.5rem;
	opacity: 0.75;
    box-shadow: 1px 1px 3px grey;
	background-color: rgba(0, 0, 0, 0);
	border:2px solid white;
}

.blue_button:hover, 
.blue_button:visited, 
.blue_button:active,
.blue_button:focus {
	opacity: 1;
	color: white;
    text-shadow: 1px 1px 5px grey;
	background-color: rgba(0, 0, 0, 0);
	border:2px solid white;
}
.submit {
	font-family: 'Helvetica Neue','Helvetica','Open-Sans', 'sans-serif' !important;
	font-size: 1.2rem !important;
	color: white;
	padding-left: 0px !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	margin-top: 0px;
	opacity: 0.75;
	background-color: rgba(0, 0, 0, 0);
	border:2px solid white;
	height: 37px;
}

.submit:hover, 
.submit:visited, 
.submit:active,
.submit:focus {
	opacity: 1;
	color: white;
	background-color: rgba(0, 0, 0, 0);
}

#results .panel,
#homePanel {
	background-color:white;
	/*box-shadow: -15px 15px 5px -14px rgba(0,0,0,0.2), 15px 0 15px -14px rgba(0,0,0,0.2);*/
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
}

#results .panel:hover,
#homePanel:hover {
	/*opacity: .9;*/
	/*background-color: rgb(245,245,245);*/
	/*box-shadow: -15px 15px 20px -18px rgba(0,0,0,0.7), 15px 0 15px -14px rgba(0,0,0,0.3) ;*/
	box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);
}
#homePanel {
}
#panelWrapper {
	width:40%;
	float:left;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 12rem;
}

#results {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	float:right;
}
.right{
	margin-right: 10px !important;
}
#insuranceList {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.insurance {
	height:3rem;
}

.button-group {
	margin-left: auto !important;
	margin-right:auto !important;
}
/*
 * Selected result styling 
 *
 */

 /* Selected Tab */
.selectedButton {
	background-color: white !important;
}
.selected_result {
	width:98% !important;
	height:100% !important;
	margin-bottom: 10px;
}

.selected_result>a>div {
	height:100%;
	overflow: auto !important;	
	margin-bottom: 10px;

}

/*
*About section
*/

@media (min-width: 1260px) {
	#route {
		color: white;
		text-align: center;
        text-shadow: 1px 1px 5px grey;
		font-size: 7rem !important;
		height: 1.125rem;
        font-weight: 300;
	}

	#explanation {
		font-size: 1.8rem;
		color: white;
		text-align: center;
        font-weight: 300;
        text-shadow: 1px 1px 5px grey;
		margin-left: 22%;
		margin-right: 22%;
		margin-top: 150px;
	}
}

@media (min-width: 1125px) and (max-width: 1259px) {
	#route {
		color: white;
		text-align: center;
		font-size: 7rem !important;
        text-shadow: 1px 1px 5px grey;
		height: 1.125rem;
        font-weight: 300;
	}
	#explanation {
		font-size: 1.8rem;
		color: white;
		text-align: center;
        text-shadow: 1px 1px 5px grey;
        font-weight: 300;
		margin-left: 22%;
		margin-right: 22%;
		margin-top: 150px;
	}
}

@media (max-width: 1124px) {
	#route {
		color: white;
		text-align: center;
        font-weight: 300;
        text-shadow: 1px 1px 5px grey;
		font-size: 5rem !important;
		height: 1.125rem;
	}
	#explanation {
		font-size: 1.4rem;
		margin-left: 8%;
		margin-right: 8%;
		color: white;
        text-shadow: 1px 1px 5px grey;
        font-weight: 300;
		text-align: center;
		margin-top: 100px;
    }

    .blue_button {
        margin-top: 30px;
        font-family: 'Helvetica Neue','Helvetica','Open-Sans', 'sans-serif' !important;
        color: white;
        text-shadow: 1px 1px 5px grey;
        font-size: 1rem;
        opacity: 0.75;
        background-color: rgba(0, 0, 0, 0);
        border:2px solid white;
    }

    .addressFields {
        width: 50%;
        text-align: center !important;
        margin-left: auto;
        margin-right: auto;
    }

    .submit {
    font-family: 'Helvetica Neue','Helvetica','Open-Sans', 'sans-serif' !important;
    font-size: 1rem !important;
    color: white;
    margin-left: 35% !important;
    opacity: 0.75;
    background-color: rgba(0, 0, 0, 0);
    border:2px solid white;
    text-align: center !important;
    width: 30%;
    }
}

#aboutBackground {
    background-image: url("/mapcloseup.jpg");
    background-repeat: no-repeat;
    background-position: top;
    margin-top: -53px;
    height: 765px;
}

#usBackground {
    background-image: url("/techtower1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height:600px;
}

}
.stretch {
/*    display: inline-block;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.line {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#disclaimer {
    color: grey;
    font-size: 0.9rem;
    text-align: center;
}
.grey {
    color: grey;
}
/*
*other stuff
*/
.menuItem { 
    display: block;
    font-size: 2em !important;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.map {
	height:100%;
	max-height: 500px;
}

.center-button-wrapper {
	text-align:center;
}

.reveal-modal {
	display:block;
}

.map-wrapper {
	position: relative;
	padding-bottom: 75%; /* This is the aspect ratio*/
	height: 0;
	overflow: hidden;
}

.showMap,
.topBarButton {
	padding-left:30px !important;
	padding-right:30px !important;
}

.showMap span, .showMap:focus, .showMap,
.topBarButton span, .topBarButton:focus, .topBarButton{
	font-size: 0.8125rem;
	font-weight: 700 !important;
	text-transform: uppercase !important;
}
.showMap:visited, .topBarButton:visited, .top-bar.expanded .toggle-topbar a {
	color: white !important;
	background-color: white !important;
}


/*
 *  Fix for zoom bar and street view
 */
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }

.map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

@media(max-width:1200px ) and (min-width: 900px) {
	#homePanel {
		padding-bottom: 5rem;
	}
}
@media(max-width: 1200px) {
	#panelWrapper {
		width:95%;
		margin-left:auto;
		margin-right:auto;
		float:none;
		margin-bottom: 10px;
	}
	#featuresWrapper {
		margin-left: auto;
		margin-right: auto;
		width:90%;
	}
}
/*
 *Small Screen Sizes (No Side Map)
 */
@media(max-width: 1024px) {
	#results {
		width: 98%;
		float:right;
		overflow: visible;
		margin-left: 0px;
		margin-right: 0px;
	}

	#results_body {
		overflow: auto;
	}

	.map-wrapper {
		width:100%;
	}

}

/*
 * Large Screen Sizes (Side Map)
 */
@media(min-width: 1025px) {
	#results_body {
 		overflow: hidden;
 	}

 	#results {
 		overflow: scroll;
		width: 58%;
		float:right;
		margin-left: 1%;
		margin-right: 0px;
	}

	.map-wrapper {
		width:41% !important;
		float:left;
	}
}
